
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>



    <div class="col-sm-6">
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="../Admin/Product" style="text-decoration:none; color:aliceblue;">Products</a></h5>
                <p class="card-text">Add, Delete or Edit Products <p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="../Admin/Categories" style="text-decoration:none; color:aliceblue;">Categories</a></h5>
                <p class="card-text">Add, Delete or Edit Products</p>
            </div>
        </div>
    </div>
