@model E_Commerce.Data.Tbl_Members

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align: -webkit-center; margin: 175px 0 160px 0px; }">
    <h2>Login</h2>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        <form>
            <div class="margin-left7">
                <div class="mb-3 row width45">
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Username, new { type = "text", @class = "form-control", PlaceHolder = "Username" })
                    </div>
                </div>
                <div class="mb-3 row width45">
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control", PlaceHolder = "Password" })
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary mb-3">Submit</button>
            <h6>@Html.ActionLink("Register here", "Register")</h6>
        </form>
    }

</div>